.preloader-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(20, 20, 20, 0.1);
}

.preloader {
    width: 70px;
    height: 70px;
}
