.users-page {
    display: flex;
    flex-direction: column;
    padding: 3rem 10% 1rem;
    width: 900px;
}

.user-page__add-user-button {
    padding: 0.25rem 1rem;
    margin-bottom: 5px;
    cursor: pointer;
}

.users-page__user-block {
    padding: 0.5rem;
    margin-bottom: 10px;
    border: 1px solid #333;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-block__username {
    flex-grow: 1;
    padding: 0.2rem 0.5rem;
    background: #888;
    color: #fff;
}

.user-block-button {
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

.user-block__item {
    margin-right: 8px;
}
