.chat__chat-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #222;
  padding: 1rem;
  margin-bottom: 1rem;
}

.chat-header__name {
  font-size: 14px;
  display: flex;
  margin-bottom: 0;
  font-weight: 400;
}

.chat-header__general-inf {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.chat-header__general-inf-item {
  margin-left: 1rem;
}

.char-header__date {
  cursor: default;
  margin-right: 1rem;
}
