.user-modal__backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background: rgba(20, 20, 20, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-modal__user-form {
    display: flex;
    flex-direction: column;
}

.user-form__input {
    margin-top: 5px;
    padding: 0.5rem 1rem;
}

.user-form__buttons-container {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.user-form__button {
    padding: 0.5rem 2rem;
    cursor: pointer;
}