.chat__chat-body {
  border: 1px solid #222;
}

.chat-body__group {
  display: flex;
  flex-direction: column;
}

.chat-body__divided {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 1rem;
  border-bottom: 5px solid #ccc;
}

.chat-body__date {
  cursor: default;
  background: #ccc;
  color: #222;
  position: absolute;
  top: -0.75rem;
  padding: 0.25rem 0.75rem;
}
